.contact {
  padding-bottom: 80px;
}

.contact__title {
    font-size: 28px;
}

.contact__box {
  color: #444444;
  background: #fff;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}

.box-contact {
}

// svg
.box-contact__icon {
    display: inline-block;
    margin-bottom: 10px;
    width: 20px;
    height: 20px;
    fill: #000;
}

.box-contact__title {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.box-contact__text {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  background: #fff;
}

.contact-form__validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form__error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact-form__error-message br + br {
  margin-top: 25px;
}

.contact-form__sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact-form__loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact-form__loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact-form input, .contact-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact-form input::focus, .contact-form textarea::focus {
  background-color: #67b0d1;
}

.contact-form input {
  padding: 20px 15px;
}

.contact-form textarea {
  padding: 12px 15px;
}

.contact-form__btn {
  background: #67b0d1;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact-form__btn:hover {
  background: #8ec4dd;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}