.services {
	width: 100vw;
    margin-top: 17vh;
    margin-bottom: 3vh;
    @media ($mobile) {
    	margin-top: 7vh;
    	margin-bottom: 0;
    	padding-left: 15px;
    	padding-right: 15px;
    }

}